body {
    margin: 0px;
    margin-top: -16px;
}

/* Body Header */

#body-header {
    height: 65vh;
    opacity: 0.8;
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 1.5rem;
}


/* Horizontal Lists */

.horizontal-list {
    list-style: none;
    padding-left: 0px;
}

.horizontal-list li {
    display: inline-block;
    margin: 10px 8px 8px 0px;
}


.horizontal-list li a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}

.nav-menu li a{
    transition: color 0.5s, border-bottom 4s;
}

.nav-menu li a:hover {
    color: lightgrey;
    border-bottom: 1px solid white;
}

/*#nav{
    overflow: hidden;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
}*/

.dropdown{
    display: none;
}

.text-center {
    text-align: center;
}

#name{
    color: white;
    font-family: sans-serif;
    margin-top: 25vh;
    font-size: 40px;
    margin-bottom: 0px;
}

@media screen and (max-width: 572px){
    .nav-menu{
        display: none;
    }

    .dropdown{
        display: inline-block;
        margin-left: 87%;
        margin-top: 5%;
        margin-right: 5%;
    }

    .dropdown-button{
        color: white;
        background-color: transparent;
        border: none;
        font-size: 26px;
    }

    .dropdown-content{
        display: none;
        background-color: black;
        position: absolute;
        margin-left: -12%;
    }

    .dropdown-content a{
        color: white;
        text-decoration: none;
        display: block;
        font-size: 16px;
        font-family: Arial;
        padding: 10px;
    }

    .dropdown:hover .dropdown-content{
        display: block;
    }

    .dropdown:hover .dropdown-button{
        color: lightgrey;
    }

    .dropdown-content a:hover{
        color: lightgrey;
    }

    #name{
        margin-top: 20vh;
    }
}

@media screen and (max-width: 768px){
    #name{
        margin-top: 23vh;
    }
}


/*social-icons*/

.social-icons li a i{
    padding: 10px;
    font-size: 1rem;
    border-radius: 50%;
}

.social-icons li{
    margin-top: 0px;
}

.social-icons li a i:hover{
    box-shadow: 0px 0px 6px 4px rgba(230,196,196,0.3);
}

/*Sections*/

section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-heading{
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
}

.section-heading span{
    font-size: 35px;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
    margin-bottom: 3rem;
    font-family: sans-serif;
}


/*about-section*/

#about{
    height: auto;
    width: 100%;
    position: relative;
}

#my-image{
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -17vh;
}

#my-image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 1px 1px 10px 2px lightgrey;
}

#about-para{
    padding: 10px;
    width: 70%;
    font-family: sans-serif;
    line-height: 28px;
    margin: auto;
    font-size: 22px;
    text-align: justify;
    color: grey;
}


/*Skills*/

.skills-display{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-progress{
    width: 9rem;
    height: 1.7rem;
    background-color: lightgrey;
    border-radius: 0.8rem;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 80px;
}

.skill-progress>div{
    border-radius: 20px 0px 0px 20px;
}

.skill-name span{
    font-size: 1.4rem;
    color: white;
    font-family: sans-serif;
    font-weight: 400;
    margin-left: 10px;
    
}

/*Experience*/
.justify{
    text-align: justify;
}

#experience{
    background-color: #9e9b9b29;
}


/*Timeline*/

.timeline {
    position: relative;
    width: 75%;
    margin-bottom: 25px;
}

.timeline-box {
    position: relative;
    margin: 15px;
    width: 40%;
    left: 5%;
    min-height: 150px;
}

.timeline-box:nth-child(2n) {
    left: 53%;
}

.timeline-box:nth-child(2n+1)::after{
    content: '';
    position: absolute;
    top: 27.5%;
    right: -10.8%;
    border-radius: 50%;
    width: 0.8rem;
    height: 0.8rem;
    background-color: lightgrey;
    z-index: 1;
}

.timeline-box:nth-child(2n)::after{
    content: '';
    position: absolute;
    top: 30%;
    left: -12%;
    border-radius: 50%;
    width: 0.8rem;
    height: 0.8rem;
    background-color: lightgrey;
    z-index: 1;
}

.timeline-divider{
    position: absolute;
    height: 65%;
    width: 0;
    border: 2px dashed #0096fa6b;
    top: 12%;
    left: 50%;
}

.timeline-traveller{
    position: sticky;
    top: 30%;
    font-size: 25px;
    transform: rotate(90deg);
    color: #2857a4;
    z-index: 2;
}

.timeline-designation{
    color: #2857a4;
    font-family: sans-serif;
    margin-bottom: 2px;
}

.timeline-company-name{
    color: #e67300;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 21px;
    margin-top: 2px;
    margin-bottom: 0;
}

.timeline-month{
    color: grey;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 0;
}

.timeline-box p{
    color: grey;
    font-family: sans-serif;
    text-align: justify;
}

@media screen and (max-width: 768px){
    .timeline-divider{
        left: 8%;
    }

    .timeline-box{
        left: 12% !important;
        width: 80%;
    }

    .timeline-box::after{
        left: -9.5% !important;
    }

    .right{
        text-align: left !important;
    }
}

@media screen and (max-width: 572px){
    .timeline-box::after{
        left: -11% !important;
    }
}


/*Common alignment*/

.right{
    text-align: right;
}



/* Portfolio Section */

#portfolio{
    background-color: #9e9b9b29;
}

#portfolio-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 50px;
    margin-bottom: 2%;
    justify-content: space-around;
}

.portfolio-image-container {
    max-width: 300px;
    overflow: hidden;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}


.portfolio-image-container img {
    width: 100%;
    height: 100%;
}

.portfolio-details {
    transition: all 0.5s ease-in-out;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    font-size: 20px;
    height: 100%;
    width: 100%;
    color: transparent;
    text-align: center;
}

.portfolio-details a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.portfolio-details a:hover{
    color: red;
    cursor: pointer;
}

.portfolio-image-container:hover {
    box-shadow: 0 0 20px #74ADC8;
}

.portfolio-image-container:hover .portfolio-details {
    background-color: #80808078;
    color: white;
}



/*Contact*/

#contact{
    background-image: linear-gradient(#2857a4, #403066);
}

.contact-highlight{
    color: white;
    font-weight: 500;
}

.contact-social li a{
    margin-left: 15px;
    margin-right: 15px;
}

#contact-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

#contact-container #contact-form{
    width: 65%;
    margin-left: 10%;
}

#contact-form .input-form{
    background-color: transparent;
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    border: none;
    outline: none;
    width: 75%;
    height: 20px;
    margin: 20px 10px 10px 10px;
    border-bottom: 2px solid white;
    padding: 10px;
}

#contact-form input [placeholder]{
    color: #8c8c8c;
}

#contact-form #message{
    height: 50px;
    font-size: 15px;
}

#contact-form button{
    background-color: transparent;
    color: white;
    margin-left: 25%;
    margin-top: 40px;
    font-weight: 600;
    font-size: 15px;
    font-family: sans-serif;
    width: 9rem;
    height: 2.5rem;
    padding: 5px;
}

#contact-form button:hover{
    background-color: white;
    color: #13386fe0;
    cursor: pointer;
}

#contact-container #address{
    width: 50%;
    margin-right: 10%;
}

#contact-container #address h2{
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 22px;
}

#contact-container #address p{
    color: lightgrey;
    font-family: Arial;
    display: inline-block;
}

#contact-container #address i{
    color: white;
}

@media screen and (max-width: 768px){
    #contact-form{
        width: 80% !important;
        margin-bottom: 15%;
    }

    #address{
        width: 80% !important;
        margin-left: 10%;
        margin-bottom: 10%;
    }

    #contact-container{
        flex-direction: column !important;
    }
}



/*common color classes*/

.text-highlight{
    color: #2857a4;
    font-weight: 600;
}

.mb-blue{
    background-color: #2857a4;
}

.mb-orange{
    background-color: #ff471a;
}

.mb-lightmagenta{
    background-color: #887287;
}

.mb-green{
    background-color: #2d8659;
}

/*Percentage classes*/


.seventy-percent{
    width: 70%;
    height: inherit;
}

.eighty-percent{
    width: 80%;
    height: inherit;
}

.ninty-percent{
    width: 90%;
    height: inherit;
}

.eighty-five-percent{
    width: 85%;
    height: inherit;
}

.fifty-percent{
    width: 50%;
    height: inherit;
}
